/* main color: #e71717; */

body{
	font-family: Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
}

#header{
	padding-top: 125px;
}


#header > .container > .row .logo{
	background-image: url('../images/logo.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	display: block;
	width: 100%;
	height: 110px;
}

#header > .container > .row > .navbar > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	padding-top: 75px;
}

#header > .container > .row > .navbar > ul > li{
	display: inline-block;
	margin-right: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

#header > .container > .row > .navbar > ul > li:hover a{
	color: #e71717;
}

#header > .container > .row > .navbar > ul > li > a{
	text-decoration: none;
	color: #333;
	font-size: 16px;
}


#content{
	margin-top: 100px;
}

#footer{
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase; 
}

#footer h3{

	font-weight: 1px;
	font-size: 14px;
}
